html, body{
    width: 100%;
}
.box{
    text-align: center;
    background: #ccc;
    width: 400px;
    height: auto;
    padding: 25px;
    position: absolute;
    left: 50%; top:50%;
    transform: translate(-50%,-50%);
}
.box h1{
    color: #fff;
}
.box input[type="password"], .box input[type="text"], .box input[type="sodienthoai"]{
    background: none;
    outline: none;
    width: 210px;
    height: 40px;
    border-radius: 40px;
    padding: 0px 15px;
    margin: 15px 0px;
    border: solid 2px white;
    transition: 1s;
}
.box input[type="password"]:focus, .box input[type="text"]:focus, .box input[type="sodienthoai"]:focus{
    width: 320px;
    border-color: black;
    transition: 1s;
}
.box input[type="submit"]{
    background: none;
    outline: none;
    width: 160px;
    height: 40px;
    border-radius: 40px;
    margin: 15px 0px;
    border: solid 2px white;
    color: #fff;
    font-size: 18px;
    transition: 1s;
}
.box input[type="submit"]:hover{
    color: black;
    background: #ccc;
    transition: 1s;
}
.box a {
    text-decoration: none;
    color: #fff;
}